body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    background: #f4f4f4 url("img/fundo.jpg") no-repeat  ;
    background-size: cover;
    font-family: 'Charmonman', cursive;
}

header img {
    width: 30%;
}

header h1  {
    margin: -100px auto;
    padding: 30px 0px 79px 0;
    font-weight: bold;
    font-size: 60px;
    color: white;
    font-size: 110px;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000;
}

header p {
    font-size: 25px;
    text-decoration: underline;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

body div input {
    width: 25%;
}

.container {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: 550px auto 55%;
    justify-content: center;
}   


.item {
    font-weight: bold;
    padding: 20px;
    transition: 1.2s;
}

.item a:link {
    font-size: 27px;
    text-decoration: none;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000;
}

.item a:visited {
    font-size: 27px;
    color: white;
    -webkit-text-stroke-width: 0.6px;
    -webkit-text-stroke-color: #000;
}

.item:hover {
    transform: scale(1.2);
}

.fundo {
    width: 100%;
    background-size: cover;
}