body {
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: stretch;
    margin: 0;
    background: #f4f4f4 url("fundo.jpg") no-repeat  ;
    background-size: cover;
    font-family: 'Charmonman', cursive;
}

header img {
    width: 30%;
}

header h1  {
    margin: -100px auto;
    padding: 30px 0px 79px 0;
    font-weight: bold;
    font-size: 60px;
    color: white;
    font-size: 110px;
}

header p {
    font-size: 20px;
}

nav section li {
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
}

.fundo {
    width: 100%;
    background-size: cover;
  }